#not-found {
  position: relative;
  height: 100vh;

  font: 800 45px Nunito, sans-serif;
}

#not-found .not-found {
  width: 100%;
  max-width: 910px;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#not-found .title-404 {
  font: 800 185px Montserrat, sans-serif;
  color: #cecece;

  margin-bottom: 0;
}

#not-found .text-404 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;

  margin: 30px;
}

#not-found .link-404 {
  cursor: pointer;
  text-decoration: none;
  
  font-weight: 800;
  color: #cecece;
}